* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrains Mono Nerd Font;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: rgba(43, 48, 59, 0.5);
  padding: 5px;
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  border-radius: 8px;
}

#workspaces {
  margin: 0 8px;
  padding: 0 10px;
  border-radius: 10px;
  transition: none;
  background: #383c4a;
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: transparent;
  padding: 5px;
  font-size: 18px;
}

#workspaces button.persistent {
  color: #7c818c;
  font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: #383c4a;
  background: #7c818c;
}

#workspaces button.focused {
  color: white;
}

#mode {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

.module-center {
  margin: 0 8px;
  padding: 0 15px;
  border-radius: 10px;
  transition: none;
  background: #383c4a;
}

#clock {
  padding: 0 10px;
  border-radius: 8px;
  color: #c8d2e0;
  background: #383c4a;
}

#custom-weather {
  padding: 0 8px;
  border-radius: 8px;
  color: #ffffff;
  background: #383c4a;
}

#tray {
  padding: 0 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#tray menu {
  padding: 8px;
  border-radius: 8px;
}

#tray > .active {
  -gtk-icon-effect: dim;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#group-hardware {
  margin: 0 8px;
  padding: 0 16px;
  border-radius: 10px;
  transition: none;
  background-color: #383c4a;
}

#cpu {
  margin-right: 6px;
  padding: 0 5px;
  border-radius: 8px;
  color: #fb958b;
}

#memory {
  margin-right: 6px;
  padding: 0 5px;
  border-radius: 8px;
  color: #ebcb8b;
}

#battery {
  margin-right: 6px;
  padding: 0 5px;
  border-radius: 8px;
  transition: none;
  color: #ffffff;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.full {
  color: #38ff4c;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature {
  padding: 0 5px;
  border-radius: 8px;
  transition: none;
  color: #5be394;
}

#temperature.critical {
  color: #fff;
  background-color: #eb4d4b;
}

#group-control {
  margin: 0 8px;
  padding: 0 15px;
  border-radius: 10px;
  transition: none;
  background-color: #383c4a;
}

#pulseaudio {
  margin-right: 10px;
  padding: 0 5px;
  border-radius: 8px;
  color: #968af2;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#backlight {
  padding: 0 5px;
  border-radius: 8px;
  color: #dbf59f;
}

#privacy {
  padding: 0 5px;
  border-radius: 8px;
}

#privacy-item {
  color: #fae73e;
}

#privacy-item.screenshare {
  color: #fa3e3e;
}

#privacy-item.autio-in,
#privacy-item.autio-out {
  color: #fa5e3e;
}

#group-keyboard {
  margin: 0 8px;
  padding: 0 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background-color: #383c4a;
}

#language {
  padding: 0 5px;
  border-radius: 8px;
  color: #ffffff;
}

#keyboard-state {
  border-radius: 8px;
  padding: 0 5px;
}

#keyboard-state label {
  color: #70f25c;
}

#keyboard-state label.locked {
  color: #d11765;
}

#group-power {
  margin: 0 8px;
  padding: 0 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background-color: #383c4a;
}

#group-power #custom-power {
  padding-left: 5px;
  padding-right: 8px;
  color: #fc5674;
  font-weight: bold;
}

#group-power #custom-quit {
  padding-left: 5px;
  padding-right: 8px;
  color: #fcba03;
}

#group-power #custom-lock {
  padding-left: 5px;
  padding-right: 8px;
  color: #56cbfc;
}

#group-power #custom-reboot {
  padding-left: 5px;
  padding-right: 8px;
  color: #ff8138;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
