@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

tooltip {
  background-color: @tooltip_bg;
  padding: 5px;
  border-bottom: 3px solid @tooltip_border;
  border-radius: 8px;
}

tooltip label {
  font-weight: 600;
}

window#waybar {
  background-color: @transparent;
  color: @text_white;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0;
  margin: 0 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: @transparent;
  font-size: 0;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: @blink_bg;
    color: @text_dim;
  }
}

label:focus {
  background-color: @black;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#gamemode,
#idle_inhibitor,
#image,
#jack,
#keyboard-state,
#language,
#memory,
#mode,
#mpd,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#privacy,
#sndio,
#submap,
#tags,
#temperature,
#tray,
#taskbar,
#upower,
#wireplumber,
#workspaces,
#user,
#group-power,
#group-hardware,
#group-pulseaudio,
#group-backlight,
#group-control,
#group-media,
#group-info,
#custom-launcher,
#custom-weather {
  padding: 0 15px;
  color: @text_main;
  border-radius: 20px;
  background-color: @base_bg;
}

#backlight {
  padding: 0 5px;
  color: @cyan;
}

#group-backlight {
  padding: 0 5px;
}

#battery {
  padding: 0 5px;
  border-radius: 16px;
  color: @lavender;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @green_success;
}

#battery.critical:not(.charging) {
  color: @red_critical;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  color: @blue_grey;
}

#bluetooth.disconnected {
  color: @red_critical;
}

#clock {
  color: @blue_light;
}

#cpu {
  padding: 0 5px;
  border-radius: 20px;
  color: @pink_cpu;
  background-color: @base_bg;
}

#disk {
  padding: 0 5px;
  border-radius: 20px;
  color: @blue_disk;
}

#idle_inhibitor {
  padding-left: 5px;
  padding-right: 3px;
  background-color: @base_bg;
  color: @text_dark;
}

#idle_inhibitor.activated {
  background-color: @white_idle;
  color: @text_dark;
}

#keyboard-state {
  color: @green_bright;
  padding: 0 5px;
  min-width: 16px;
}

#keyboard-state label {
  padding: 0 5px;
}

#keyboard-state label.locked {
  color: @pink_locked;
}

#language {
  background-color: @teal_lang_bg;
  color: @purple_lang_fg;
  padding: 0 0;
  margin: 0 5px;
  min-width: 16px;
}

#memory {
  padding: 0 5px;
  border-radius: 20px;
  color: @yellow_mem;
  background-color: @base_bg;
}

#mpd {
  padding: 0 5px;
}

#mpris {
  padding: 0 5px;
}

#network {
  padding: 0 5px;
  color: @purple_net;
}

#network.disconnected {
  color: @red_critical;
}

#pulseaudio {
  padding: 0 5px;
  color: @blue_audio;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0 5px;
  background-color: transparent;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 100px;
  border-radius: 5px;
  background-color: @black;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @white;
}

#group-pulseaudio {
  padding: 0 5px;
}

#privacy {
  color: @yellow_privacy;
}

#sndio {
  color: @text_main;
}

#sndio.muted {
  color: @red_muted;
}

#temperature {
  padding: 0 5px;
  border-radius: 16px;
  transition: none;
  color: @green_temp;
}

#temperature.critical {
  color: @white;
  background-color: @red_bg_critical;
}

#tray menu {
  padding: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red_bg_critical;
}

#taskbar {
  color: @grey_taskbar;
}

#upower {
  color: @green_upower;
}

#wireplumber {
  color: @cyan_wp;
}

#wireplumber.muted {
  color: @red_wp_muted;
}

#workspaces {
  border-radius: 20px;
  padding: 0 5px;
  background-color: @base_bg;
}

#workspaces button {
  padding: 0;
  color: @text_inactive;
  background-color: @transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease;
}

#workspaces button.active {
  color: @text_main;
}

#workspaces button.visible {
  color: @text_visible;
}

#workspaces button.urgent {
  color: @brown_urgent;
}

#workspaces button.empty {
  margin: 0;
  padding: 0;
}

#workspaces button.persistend {
  color: @white;
}

#workspaces button.special {
  color: @green_special;
}

#workspaces button.hidden {
  color: @base_bg;
}

#workspaces button.focused {
  background-color: @transparent;
  color: @white;
}

#workspaces button.hover {
  box-shadow: 0 -3px @text_visible;
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button.current_output {
  padding: 0 15px;
}

#window {
  color: @text_window;
  border-radius: 20px;
  padding: 0 10px;
  background-color: @base_bg;
}

#mode,
#submap {
  padding: 0 10px;
}

#custom-launcher {
  background-color: @base_bg;
  color: @purple_launcher;
  border-radius: 20px;
  padding: 0 15px;
}

#custom-power {
  padding-left: 5px;
  padding-right: 8px;
  color: @custom_power;
  font-weight: bold;
}

#custom-quit {
  padding-left: 5px;
  padding-right: 8px;
  color: @custom_quit;
}

#custom-lock {
  padding-left: 5px;
  padding-right: 8px;
  color: @custom_lock;
}

#custom-reboot {
  padding-left: 5px;
  padding-right: 8px;
  color: @custom_reboot;
}
