[submodule "dot_config/alacritty/themes"]
	path = dot_config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "dot_config/nvim"]
	path = dot_config/nvim
	url = https://github.com/MysticalDevil/nvim.git
