theme = "tokyonight"

[editor]
line-number = "absolute"
mouse = true
scrolloff = 8
scroll-lines = 4
shell = ["zsh"]
cursorline = true
cursorcolumn = false
auto-completion = true
auto-format = true
auto-save = false
idle-timeout = 500
completion-trigger-len = 2
completion-replace = false
auto-info = true
true-color = true
undercurl = false
rulers = []
bufferline = "multiple"
color-modes = false

[editor.statusline]
left = [
  "mode",
  "version-control",
  "diagnostics",
  "file-name",
  "file-modification-indicator",
  "spinner",
]
center = []
right = [
  "file-line-ending",
  "separator",
  "position",
  "separator",
  "file-encoding",
  "file-type",
]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.lsp]
enable = true
display-messages = true
auto-signature-help = true
display-inlay-hints = true
display-signature-help-docs = true
snippets = true
goto-reference-include-declaration = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = true
follow-symlinks = true
deduplicate-links = true
parents = true
ignore = true
git-ignore = true
git-global = true
git-exclude = true

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'

[editor.search]
smart-case = true
wrap-around = true

[editor.whitespace.render]
space = "all"
tab = "all"
newline = "none"
[editor.whitespace.characters]
space = " "
nbsp = "⍽"
tab = "→"
newline = "⏎"
tabpad = "·"

[editor.indent-guides]
render = true
character = "▏" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 1

[editor.gutters]
layout = ["diagnostics", "spacer", "line-numbers", "spacer", "diff"]
[editor.gutters.line-numbers]
min-width = 1

[editor.soft-wrap]
enable = true
max-wrap = 20
max-indent-retain = 40
wrap-indicator = "↪"
wrap-at-text-width = false

[editor.smart-tab]
enable = true
