project('__PROJECT_NAME__', 'c', default_options : ['c_std=c23', 'warning_level=3', 'werror=true'])

inc = include_directories('include')
static_library('__PROJECT_NAME__', 'src/lib.c', include_directories : inc)
